{% extends 'adminnavbar.html' %}
{% load static %}
{% block content %}
     <h2 align ="center">Add Student Data</h2>
 <link href="{% static 'css/updatestudent.css' %}" rel="stylesheet">
<form method="POST">
    {% csrf_token %}
     <table align="center">
     <tr>
      <td>Student Name : </td>
      <td><input type="text" name="txtName" value="{{ student.stud_name }}"></td>
     </tr>
     <tr>
      <td>Student PhNo : </td>
      <td><input type="text" name="txtPhno" value="{{ student.stud_phno }}"></td>
     </tr>
     <tr>
      <td>Student Email : </td>
      <td><input type="email" name="txtMail" value="{{ student.stud_email }}"></td>
     </tr>
     <tr>
      <td>StudentCity : </td>
      <td><select name="ddlCity">
          <option selected>{{ student.stud_city }}</option>
            {% for i in CityData %}
               <option>{{ i.city_name }}</option>
            {% endfor %}
           </select>
      </td>
     </tr>
     <tr>
      <td>Course : </td>
      <td><select name="ddlCourse">
          <option selected>{{ student.stud_course }}</option>
                {% for i in CourseData %}
               <option>{{ i.course_name }}</option>
            {% endfor %}
      </select></td>
     </tr>
     <tr>
      <td>CourseFees : </td>
      <td><input type="number" name="txtCourseFees" disabled></td>
     </tr>
     <tr>
      <td>PaidFees : </td>
      <td><input type="number" name="txtPaidFees" value="{{ student.paid_fees }}" ></td>
     </tr>
         <tr>
             <td>PendingFees :</td>
             <td><input type="number" name="txtPendingFees" value="{{ student.pending_fees }}" disabled></td>
         </tr>
      <tr>
      <td align="center" colspan="2">
        <input type="submit" name="btnRegister" value="UpdateStudent"></td>
     </tr>

  </table>
</form>
{% endblock %}
